<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://processimage20220711115044.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7ffa210f-1463-44ce-8076-c71717c7b22e/resourcegroups/az204rg01/providers/Microsoft.Web/sites/ProcessImage20220711115044</ResourceId>
    <UserName>$ProcessImage20220711115044</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://processimage20220711115044.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>